In [9]:
A= [1,2,3,4,5,6]
B=[13,21,34]
A_B = A.extend(B)
A_B

### IMPORT ALL LIBRARIES

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## LOAD FUEL DATASET

In [4]:
fuel_data_df = pd.read_csv('fuel_ferc1.csv')
fuel_data_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [10]:
fuel_data_df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

#### Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [14]:
fuel_data_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

#### Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [15]:
fuel_data_df['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [16]:
np.percentile(fuel_data_df['fuel_mmbtu_per_unit'],75)

17.006

#### Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [17]:
fuel_data_df['fuel_qty_burned'].skew()

15.851495469109503

In [18]:
fuel_data_df['fuel_qty_burned'].kurt()

651.3694501337732

#### Question 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [19]:
fuel_data_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

#### Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [21]:
fuel_data_df[['fuel_cost_per_unit_burned', 'fuel_qty_burned']].corr()

                           fuel_cost_per_unit_burned  fuel_qty_burned
fuel_cost_per_unit_burned                   1.000000        -0.018535
fuel_qty_burned                            -0.018535         1.000000

In [22]:
fuel_data_df[['fuel_cost_per_unit_burned', 'fuel_cost_per_unit_delivered']].corr()

,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered
fuel_cost_per_unit_burned,1.000000,0.011007
fuel_cost_per_unit_delivered,0.011007,1.000000

In [23]:
fuel_data_df[['fuel_cost_per_unit_burned', 'utility_id_ferc1']].corr()

                           fuel_cost_per_unit_burned  utility_id_ferc1
fuel_cost_per_unit_burned                   1.000000         -0.037863
utility_id_ferc1                           -0.037863          1.000000

In [24]:
fuel_data_df[['fuel_cost_per_unit_burned', 'fuel_mmbtu_per_unit']].corr()

                           fuel_cost_per_unit_burned  fuel_mmbtu_per_unit
fuel_cost_per_unit_burned                   1.000000            -0.010034
fuel_mmbtu_per_unit                        -0.010034             1.000000

In [25]:
fuel_data_df[['fuel_cost_per_unit_burned', 'report_year']].corr()

                           fuel_cost_per_unit_burned  report_year
fuel_cost_per_unit_burned                   1.000000     0.013599
report_year                                 0.013599     1.000000

#### Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [39]:
fuel_data_df.groupby('report_year')['fuel_cost_per_unit_burned']

In [42]:
fuel_data_df[fuel_data_df['fuel_type_code_pudl']=='coal']

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.59000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.59200,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.13000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.95000,47.210,45.990,1.970
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.92200,44.240,43.250,1.850
...,...,...,...,...,...,...,...,...,...,...,...
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.88832,26.775,27.392,1.497
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.11000,14.760,0.810,1.130
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.10000,14.760,17.720,1.100
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.06800,13.690,14.310,0.890
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.10800,3.060,14.760,1.110

In [51]:
fuel_data_df[fuel_data_df['fuel_type_code_pudl']=='coal']['fuel_cost_per_unit_burned']

0        18.590
1        18.580
2        39.720
3        47.210
5        44.240
          ...
29503    26.775
29510    14.760
29516    14.760
29517    13.690
29521     3.060
Name: fuel_cost_per_unit_burned, Length: 8547, dtype: float64

In [55]:
fuel_data_df[fuel_data_df['fuel_type_code_pudl']=='coal']['fuel_cost_per_unit_burned'].pct_change()

0             NaN
1       -0.000538
2        1.137783
3        0.188570
5       -0.062910
           ...
29503   -0.101480
29510   -0.448739
29516    0.000000
29517   -0.072493
29521   -0.776479
Name: fuel_cost_per_unit_burned, Length: 8547, dtype: float64

#### Question 10
Which year has the highest average fuel cost per unit delivered?

In [32]:
fuel_data_df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64